<section class="gallery">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="boxImg col-xs-12">
                    <div class="mask">
                        <a href="gallery/2.jpg" data-lightbox="roadtrip">
                            <div class="svg-wrapper">
                                <svg class="ico">
                                    <use xlink:href="#shape-image84"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <img src="gallery/2.jpg" class="img-responsive image" alt="">
                    <div class="galleryTxt">
                        <h1>Przemieszczanie maszyn</h1>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="boxImg col-xs-12">
                    <div class="mask">
                        <a href="gallery/7.jpg" data-lightbox="roadtrip">
                            <div class="svg-wrapper">
                                <svg class="ico">
                                    <use xlink:href="#shape-image84"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <img src="gallery/7.jpg" class="img-responsive image" alt="">
                    <div class="galleryTxt">
                        <h1>Przemieszczanie maszyn</h1>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">

                <div class="boxImg col-xs-12">
                    <div class="mask">
                        <a href="gallery/11.jpg" data-lightbox="roadtrip">
                            <div class="svg-wrapper">
                                <svg class="ico">
                                    <use xlink:href="#shape-image84"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                    <img src="gallery/11.jpg" class="img-responsive image" alt="">
                    <div class="galleryTxt">
                        <h1>Przemieszczanie maszyn</h1>
                    </div>
                </div>

            </div>


        </div>

    </div>
</section>